@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

:root {
  --primary-color: #000;
  --secondary-color: #ffffff;
  --hover-color: #3a3a3a;
  --correct-color: #00e000;
  --incorrect-color: #ca2323;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Paytone One', sans-serif;
}

.App {
  background-color: var(--primary-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin: 20px;
}

h1 {
  color: var(--secondary-color);
  font-size: 48px;
}

button,
.option-button {
  text-align: center;
  color: var(--secondary-color);
  min-width: 200px;
  margin: 10px;
  padding: 15px;
  font-size: 1.5rem;
  background: none;
  border: 2px solid var(--secondary-color);
  border-radius: 15px;
  cursor: pointer;
  transition: 0.5s;
}

button:hover,
.option-button:hover {
  border: 2px solid var(--hover-color);
  transition: 0.5s;
}

button:active,
.option-button:active {
  border: 2px solid black;
  background-color: white;
  color: black;
  transition: 0.2s;
}

.correct {
  background-color: var(--correct-color);
  border: var(--correct-color);
}

.incorrect {
  background-color: var(--incorrect-color);
  border: var(--incorrect-color);
}


.disabled {
  pointer-events: none; /* Ensures the div is not clickable */
}
